@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  padding: 1px 0;
  background-color: #fff4d899;
  text-align: center;
  font-size: large;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1vh;
}

.popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px) brightness(0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5vh) brightness(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 3s infinite;
}
@keyframes fade {
  0%{
    backdrop-filter: blur(5vh) brightness(.6);
  }
  50%{
    backdrop-filter: blur(5vh) brightness(.8);
  }
  100% {
    backdrop-filter: blur(5vh) brightness(.6);
  }
}
.modal {
  background: whitesmoke;
  box-shadow: 0 0 1vh white;
  padding: 1vh;
  border-radius: 3vh;
  height: auto;
  width: 30vh;
}

.modal>* {
  margin: 2vh 2vh;
}

body {
  background-color: #ffbd2e;
  font-family: 'Museo Sans Rounded', sans-serif;
}

.ask-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  font-size: x-small;
}

.question-box {
  gap: 1vh;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  background: #ffffff;
  box-shadow: 0px 0px 1vh #ffffff99;
  border: 1vh solid #a0a0a022;
  border-radius: 4vh;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.question-box>div h5 {
  margin: 1vh;
}

.question-box>div input {
  border-radius: 1vh;
  padding: .6vh;
  border: 1px solid gray;
}

.question-box>.top>img {
  border-radius: 50%;
  margin: 1vh;
  width: 5vh;
}

.bottom {
  justify-content: center;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  margin: 1vh 3vh;
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 235, 205, 0.65);
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
}

.top>div {
  padding: 1vh;
  margin: 0vh;
}

.top>div>* {
  margin: 3px;
  font-size: small;
}

textarea {
  background: #ffffff55;
  border-radius: 1vh;
  padding: 1vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  font-size: small;
  resize: none;
}

button {
  background: #ffffff44;
  padding: 1vh 2vh;
  font-size: medium;
  margin: 1vh;
  border: 2px solid white;
  border-radius: 2vh;
  font-family: 'museo sans rounded';
  font-weight: 600;
  color: white;
}

body {
  background-color: #ffbd2e;
  font-family: 'Museo Sans Rounded', sans-serif;
}

.user-page {
  margin: 2vh;
}

.message {
  background: #ffffff66;
  padding: 1vh;
  border-radius: 2vh;
  margin: 2vh 1vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message div h4 {
  margin: 0 1vh;
  color: #b47500;
}

.message div p {
  margin: 1vh;
}

.message h3 {
  font-size: xx-large;
  padding: 2vh 3vh;
  margin: 1vh;
  background: #ffa50066;
  border-radius: 3vh;
}

.container {
  background-color: wheat;
  border-radius: 3vh;
  padding: 1vh;
  margin: 1vh 0vh;
  text-align: left;
}

.container h3 {
  margin: 1vh;
}

.link {
  background: #ffffff99;
  padding: 1vh;
  border-radius: 3vh;
  text-align: center;
  margin: 2vh 0vh;
  box-shadow: 0px 0px 3px white;
}

.link h3,
.link p {
  margin: 2px;
}

.link input {
  margin: 1vh;
  border-radius: 1vh;
  padding: 1vh;
  border: 1px solid gray;
  width: 90%;
}

.not-found {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 83vh;
  gap: 1vh;
}

.start-container>div>* {
  margin: 1vh;
}

.start-container> div {
  display: flex;
  flex-direction: column;
}

.start-container>div>input {
  padding: 1.7vh;
  font-size: large;
  border: none;
  border-radius: 3vh;
  font-family: 'museo sans rounded';
  font-weight: 500;
}